/* Smartphones (portrait and landscape) -----------  */
@media only screen and (min-device-width : 20em) and (max-device-width : 30em), screen and (min-width: 20em) and (max-width: 30em) {
  body {
    background: pink; } }

/* iPads (portrait and landscape) -----------  */
@media only screen and (min-device-width : 48em) and (max-device-width : 64em), screen and (min-width: 30em) and (max-width: 64em) {
  body {
    background: #e21; } }

/*  Desktops and laptops -----------  */
@media only screen and (min-width : 76.5em), screen and (min-width: 64em) {
  body {
    background: #999; } }

body {
  font: 100% Helvetica, sans-serif;
  background: #fff;
  margin: 10px; }
