body {
  font: 100% 'Titillium Web', sans-serif;
  color: #fff;
  background: #fff;
  margin: 0;
  padding: 0; }

.blog-entry {
  font-weight: 600;
  padding: 0.1em;
  padding-left: 0.6em; }
  .blog-entry header.blog-title {
    font-family: 'Exo', sans-serif;
    font-size: 1.4em;
    color: #96172F;
    color: rgba(0, 0, 0, 0.7);
    background: none;
    text-align: left;
    font-style: italic;
    text-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1); }
  .blog-entry .blog-entry-tag {
    font-size: 0.7em;
    color: #333; }
  .blog-entry section {
    font: 100% 'Titillium Web', sans-serif;
    font-size: 0.8em;
    color: #333;
    line-height: 1.4em;
    text-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1); }

header {
  background: #000; }

/* Smartphones (portrait and landscape) -----------  */
@media only screen and (min-device-width : 20em) and (max-device-width : 30em), screen and (min-width: 20em) and (max-width: 30em) {
  header {
    width: 100%;
    text-align: center; }
  .header-logo {
    width: 150px;
    height: 150px;
    background: #999;
    display: inline-block;
    margin: 0 auto; }
  ul.header-nav {
    padding: 1em; } }

/* iPads (portrait and landscape) -----------  */
@media only screen and (min-device-width : 48em) and (max-device-width : 64em), screen and (min-width: 30em) and (max-width: 64em) {
  .header-logo {
    width: 150px;
    height: 150px;
    background: #999;
    float: left;
    margin-right: 1em; } }

/*  Desktops and laptops -----------  */
@media only screen and (min-width : 76.5em), screen and (min-width: 64em) {
  body {
    background: #999; } }

.clearfix {
  zoom: 1; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.main {
  border: 0;
  margin: 0; }

.center {
  margin: 0 auto; }

ul.header-nav {
  list-style: none; }

ul.header-nav li {
  display: inline;
  margin: 0.5em;
  padding: 0; }
