<article class='blog-entry'>
                <header class='blog-title'>Markdown with ShowdownJS</header>
                <div class='blog-entry-tag'>
                    <ul>
                        <li>angular</li>
                        <li>nodejs</li>
                        <li>javascript</li>
                    </ul>
                </div>
                <section>
                Aenean aliquet fermentum lectus eget egestas. Mauris condimentum nisl in augue iaculis, commodo placerat nunc varius. Mauris sollicitudin turpis pulvinar sodales fringilla. Proin id sodales nulla. Mauris placerat ipsum non arcu bibendum, auctor faucibus nisl eleifend.
                </section>
                <button>read more</button>
</article>

<article class='blog-entry'>
                <header class='blog-title'>RequireJS Pitfalls</header>
                <div class='blog-entry-tag'>
                    <ul>
                        <li>angular</li>
                        <li>nodejs</li>
                        <li>javascript</li>
                    </ul>
                </div>
                <section>
                Aenean aliquet fermentum lectus eget egestas. Mauris condimentum nisl in augue iaculis, commodo placerat nunc varius. Mauris sollicitudin turpis pulvinar sodales fringilla. Proin id sodales nulla. Mauris placerat ipsum non arcu bibendum, auctor faucibus nisl eleifend.
                </section>
        <button>read more</button>

</article>

