<section class='about'>
    <header class='about-title'>About Header Test</header>  
    Digitalmonk is Joel Pablo. I'm a UX Developer/Designer with passion for coding and user-interface best practice patterns.
   
    <p>My background is years of experience in ActionScripting way back 2000 and general web standards coding creating E-learning, Casino Games, Multiplayer Games, Online Multi-user with A/V Chat rooms, Creative Ads, User Interfaces, Motion Graphics and custom components. I now transitioned to full JavaScripting+NodeJS environment workflow. My techie swiss knife includes Grunt or Gulp, Bower and sometimes Yeoman; I am able to write my own Yeoman Generator if necessary.</p>

    <p>I have partial experience with EmberJS, Objective-C (X-Code), PHP and Titanium Appcelerator which I might look again in the future if necessary. I'm looking forward to integrate my Angular skills with either Iconic or Kendo UI Framework for hybrid smartphones/tablet applications.</p>

    <p>I have an eye for good and usable design as well as ability to produce web applications and hybrid mobile apps. If I'm not on my keyboard, I'm a gym rat or just reading books by John Piper, G.K. Chestertone and Classic Christian Books.</p>
    
</section>

