<section class='about'>
    <header class='about-title'>About Header Test</header>  
    Digitalmonk is Joel Pablo. I'm a UX Developer/Designer with passion for patterns, UX and code best practices.
    <p>My experience ranges from client relations, managing projects, collaboration, project proposals, project production to project delivery and technical consultancy.</p>

    <p>My techie swiss knife includes web standards (CSS3/HTML5/JavaScript), ActionScript, AngularJS, ExpressJS and Node environment development. I enjoy workflow automations via Grunt or Gulp, even able to write my own Yeoman Generator if necessary.</p>

    <p>I have an eye for good and usable design as well as ability to produce web applications and hybrid mobile apps. If I'm not on my keyboard, I'm a gym rat or just reading books by John Piper, G.K. Chestertone and Classic Christian Books.</p>
    
</section>

