
// Media Queries in EM
// $target_px / 16px  : $em;
//
// Layout Reference
// http://css-tricks.com/snippets/css/media-queries-for-standard-devices/


$_q_smartphones: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";
$q_smartphones: "only screen and (min-device-width : 20em) and (max-device-width : 30em)";

$_q_tablets: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$q_tablets: "only screen and (min-device-width : 48em) and (max-device-width : 64em)";

$_q_desktop: "only screen and (min-width : 1224px)";
$q_desktop: "only screen and (min-width : 76.5em)";


/* Smartphones (portrait and landscape) -----------  */
@media #{$q_smartphones}, screen and (min-width:20em) and (max-width:30em) { 
     header {
        width:100%;
        text-align:center;
    }

    .header-logo {
        width:150px;
        height:150px;
        background:#999;
        display:inline-block;
        margin: 0 auto;
    }

    ul.header-nav {
        padding:1em;
    }


}


/* iPads (portrait and landscape) -----------  */
@media #{$q_tablets}, screen and (min-width:30em) and (max-width:64em) {
       
    .header-logo {
        width:150px;
        height:150px;
        background:#999;
        float:left;
        margin-right:1em;
    }

    header.main {
        zoom: 1;
        padding-bottom:1em;
    }

    header.main:before,
    header.main:after {
        content: "";
        display: table;
    }
    header.main:after {
        clear: both;
    }


}

/*  Desktops and laptops -----------  */
@media #{$q_desktop}, screen and (min-width: 64em){
    body {
      background:#999;
    }
}


.clearfix {
      zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.main {
    border:0;
    margin:0;
}

.center {
    margin: 0 auto;
}

ul.header-nav {
   list-style:none;
}

ul.header-nav li {
    display:inline;
    margin:.5em;
    padding:0;
}

