$font-stack: 'Titillium Web', sans-serif;
$primary-text-color: #fff;
$secondary-text-color: #000;
$background-color: #000;

$signature-color:#d94d43;

$header-font-family: 'Exo', sans-serif;

//'Overlock', cursive;
//'Exo', sans-serif;
$header-font-size: 1.6em;

body {
    font: 100% $font-stack;
    background:#fff;
    margin:0;
    padding:0;
}
header.main {
    background:$background-color;
}


.blog-entry { 
    header.blog-title {
        font-family:$header-font-family;
        font-size:$header-font-size;
        color: rgba(0,0,0,0.8);
       
        background:none;
        text-align:left;
       
        text-shadow: 2px 1px 3px rgba(255,255,255,0.1);
        border-bottom: solid 4px #e3e3e3;
    }
    
    .blog-entry-tag {
        font-size:.7em;
        color:#333;
    }

    section {
        font: 100% 'Ubuntu', sans-serif;
        font-size:.9em;
        color:#333;
        line-height:1.4em;
        text-shadow: 2px 1px 3px rgba(255,255,255,0.1);
        margin-bottom:.4em;
        font-weight:300;
    }

   font-weight:600;
   padding:.6em;
   padding-top:0;
}


article {
    margin-bottom:.6em;
}

.header-signature {
    color:$signature-color;
    font-size:.8em;
    line-height:2em;
}

.header-signature a {
    color:$signature-color;
    font-size:1em;
    text-decoration:none;
}

.header-signature a:hover {
    color:#f76b39;
    text-decoration:underline;
}

.header-signature-contact {
    line-height:1.3em;
}

.header-signature-service {
    color:$signature-color;
}

.blog-entry-tag ul {
    padding:0;
}

.blog-entry-tag li {
    list-style:none;
    display: inline;
   // background:#f6444e;
   // color:#fff;
    padding:.4em;
}

section.about {
    color:$secondary-text-color;
    padding:0.6em;
    padding-top:0;

}


section.about, section.collective-works { 
    color:$secondary-text-color;
    padding:0.6em;
    padding-top:0;
    font-weight:300;
}


header.about-title, header.collective-works-title {
   font-family:$header-font-family;
   font-size:$header-font-size;
    color: rgba(0,0,0,0.8);
    background:none;
    text-align:left;
    text-shadow: 2px 1px 3px rgba(255,255,255,0.1);
    border-bottom: solid 4px #e3e3e3;
    margin-bottom:.5em;
    font-weight:600;

}

.header-nav-menu {
    a { 
        text-decoration:none;
        color:#fff;
    }
}

button {
      margin-top:1em;
      width:auto;
      background-color: black;
      border: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
     -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
     box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
     color: white;
     cursor: pointer;
     font-family: 'Nobile',sans-serif;
     font-style: italic;
     font-weight: 900;
     margin:0px 0px;
     padding: 7px 20px;

     &:hover {
                   background-color: lighten(#000, 20%);
                }
     &:active {
                  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
                -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
                box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
                margin-top:2px;
               -webkit-transition: all 0.1s ease;
               -moz-transition:    all 0.1s ease;
               -ms-transition:     all 0.1s ease;
               -o-transition:      all 0.1s ease;
        }
}

.active-nav {
    border:1px solid;
    padding:1em;
    padding-top:.3em;
    padding-bottom:.3em;
    border-radius:.4em;
    -moz-border-radius:.4em;
    -webkit-border-radius:.4em;
}



/* END STYLES CSS -----------  */

