body {
  font: 100% 'Titillium Web', sans-serif;
  background: #fff;
  margin: 0;
  padding: 0; }

header.main {
  background: #000; }

.blog-entry {
  font-weight: 600;
  padding: 0.6em;
  padding-top: 0; }
  .blog-entry header.blog-title {
    font-family: 'Overlock', cursive;
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.8);
    background: none;
    text-align: left;
    text-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1);
    border-bottom: solid 4px #e3e3e3; }
  .blog-entry .blog-entry-tag {
    font-size: 0.7em;
    color: #333; }
  .blog-entry section {
    font: 100% 'Titillium Web', sans-serif;
    font-size: 1em;
    color: #333;
    line-height: 1.4em;
    text-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1);
    margin-bottom: 0.4em; }

article {
  margin-bottom: 0.6em; }

.header-signature {
  color: #d94d43;
  font-size: 0.8em;
  line-height: 2em; }

.header-signature a {
  color: #d94d43;
  font-size: 1em;
  text-decoration: none; }

.header-signature a:hover {
  color: #f76b39;
  text-decoration: underline; }

.header-signature-contact {
  line-height: 1.3em; }

.header-signature-service {
  color: #d94d43; }

.blog-entry-tag ul {
  padding: 0; }

.blog-entry-tag li {
  list-style: none;
  display: inline;
  padding: 0.4em; }

section.about {
  color: #000;
  padding: 0.6em;
  padding-top: 0; }

section.about, section.collective-works {
  color: #000;
  padding: 0.6em;
  padding-top: 0;
  font-weight: 300; }

header.about-title, header.collective-works-title {
  font-family: 'Overlock', cursive;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  background: none;
  text-align: left;
  text-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1);
  border-bottom: solid 4px #e3e3e3;
  margin-bottom: 0.5em;
  font-weight: 600; }

.header-nav-menu a {
  text-decoration: none;
  color: #fff; }

button {
  margin-top: 1em;
  width: auto;
  background-color: black;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-family: 'Nobile', sans-serif;
  font-style: italic;
  font-weight: 900;
  margin: 0px 0px;
  padding: 7px 20px; }
  button:hover {
    background-color: #333333; }
  button:active {
    -webkit-box-shadow: inset 0px 2px 2px black;
    -moz-box-shadow: inset 0px 2px 2px black;
    box-shadow: inset 0px 2px 2px black;
    margin-top: 2px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease; }

.active-nav {
  border: 1px solid;
  padding: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em; }

/* END STYLES CSS -----------  */
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { }

/* Smartphones (portrait and landscape) -----------  */
@media only screen and (min-device-width : 20em) and (max-device-width : 30em), screen and (min-width: 20em) and (max-width: 30em) {
  header {
    width: 100%;
    text-align: center; }
  .header-logo {
    display: inline-block;
    margin: 0 auto;
    background: #000 url(../../assets/images/logo.png) no-repeat; }
  .header-nav {
    margin-top: -1em; }
  ul.header-nav-menu {
    padding: 1em; } }

/* iPads (portrait and landscape) -----------  */
@media only screen and (min-device-width : 48em) and (max-device-width : 64em), screen and (min-width: 30em) and (max-width: 64em) {
  .header-signature {
    padding: 2em; }
  .header-logo {
    background: #999;
    float: left;
    margin-right: 1em; }
  header.main {
    zoom: 1;
    padding-bottom: 1em; }
  header.main:before, header.main:after {
    content: "";
    display: table; }
  header.main:after {
    clear: both; }
  header {
    padding-top: 1em; } }

/*  Desktops and laptops -----------  */
@media only screen and (min-width : 76.5em), screen and (min-width: 64em) {
  body {
    background: #999; } }

.clearfix {
  zoom: 1; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.main {
  border: 0;
  margin: 0; }

.center {
  margin: 0 auto; }

ul.header-nav-menu {
  list-style: none;
  color: #fff; }

ul.header-nav-menu li {
  display: inline;
  margin: 0.5em; }

.header-logo {
  width: 222px;
  height: 156px;
  background: #999; }
